@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background: #615048;
}

.button:disabled {
  background: #E5E5E5;
  color: #FFFFFF;
}

.button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.main-header {
  display: flex;
  justify-content: center;
  color: #000000;
}

.inner-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #756157;
  color: #ffffff;
  background-image: url("/img/catalog-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  object-fit: contain;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}


.inner-header-container {
  width: 1060px;
  margin-top: 35px;
  margin-bottom: 70px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  align-items: center;
}

.breadcrumbs-item:first-child {
  width: 13px;
  height: 15px;
  margin-right: 28px;
  background-image: url("/img/breadcrumbs-home-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.navigation {
  display: flex;
}

.menu-container {
  width: 340px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  max-width: 340px
}

.navigation-user {
  margin-left: 285px;
}

.navigation-list .navigation-link {
  display: block;
  position: relative;
  margin: 0;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-link--active::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  background-color: #756257;
  content: "";
  height: 2px;
}

.navigation-user .navigation-link {
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("/img/search-icon.svg");
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  position: relative;
  background-image: url("/img/favorite-icon.svg");
}

.navigation__favorite-count {
  display: flex;
  position: absolute;
  left: 20px;
  top: 11px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 50%
}

.header-logo {
  width: 138px;
  padding: 0;
  margin-right: auto;
}

.header-logo img {
  position: absolute;
  z-index: 1000;
}

.navigation-link-button {
  display: block;
  padding: 8px 34px;
  margin: 14px 20px;
  margin-right: 0;
}

.main-hero {
  text-align: center;
}

.main-hero-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6495ed;
  color: #ffffff;
  background-image: url("/img/index-hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.main-hero-image-container::before {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0%;
  background-image: url("/img/white-line.svg");
  background-repeat: no-repeat;
  height: 57px;
  width: 100%;
}

.main-hero-image {
  padding-top: 52px;
  padding-bottom: 82px;
  object-fit: contain;
}

.main-hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin: 69px 290px 25px 290px;
}

.main-description {
  margin: 0 274px 90px 275px;
}

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-features {
  display: flex;
}

.text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 230px;
  text-align: center;
  gap: 62px;
  margin: 0 85px;
}

.advantages-text-block {
  gap: 30px;
  padding-top: 102px;
  background-repeat: no-repeat;
  background-position: top;
}

.advantages-list .advantages-item:nth-child(1) .advantages-text-block {
  background-image: url("/img/home-icon.svg");
}

.advantages-list .advantages-item:nth-child(2) .advantages-text-block {
  background-image: url("/img/food-icon.svg");
}

.advantages-list .advantages-item:nth-child(3) .advantages-text-block {
  background-image: url("/img/gift-icon.svg");
}

.feature-image {
  object-fit: contain;
}

.feature-image-1 {
  grid-column: 2 / 4;
}

.feature-image-2 {
  grid-column: 1 / 3;
}

.card {
  display: flex;
  min-height: 384px;
  align-items: center;
}

.features-item:first-child,
.features-item:last-child {
  color: #ffffff;
  background-color: #82b3d3;
}

.features-item:first-child .text-block::before,
.features-item:last-child .text-block::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -30px;
}

.features-item:nth-child(3),
.features-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:nth-child(3) .text-block::before,
.features-item:nth-child(4) .text-block::before,
.features-item:nth-child(5) .text-block::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -30px;
}

.features-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.feature-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}

.features-description {
  margin: 0;
}

.catalog-filter {
  display: flex;
  width: 1060px;
}

.catalog-filter-left {
  display: flex;
  width: 371px;
  margin-right: auto;
  justify-content: space-between;
}

.catalog-filter-right {
  display: flex;
  width: 549px;
  margin-left: auto;
}

.catalog-filter-group {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  display: grid;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.price-input {
  box-sizing: border-box;
  border: none;
  width: 143px;
  padding: 12px 20px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  background: #F2F2F2;
  margin-right: 2px;
  margin-bottom: 26px;
}

.price-input-from {
  border-radius: 4px 0px 0px 4px;
}

.price-input-to {
  border-radius: 0px 4px 4px 0px;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-top: 56px;
  justify-content: space-between;
}

.filter-button {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  background-color: #82B3D3;
}

.filter-reset {
  background: none;
}

.catalog-container {
  margin-top: 50px;
  margin-bottom: 40px;
  align-items: center;
}

.catalog-title {
  margin-right: 200px;
}

.select-control {
  border: none;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  font-size: 18px;
}

.view-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.view-link {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.view-link--active {
  border-color: #000000;
}

.view-item:not(:last-child) {
  margin-right: 8px;
}

.view-list .view-item:nth-child(1) .view-link {
  background-image: url("/img/card-view-icon.svg");
}

.view-list .view-item:nth-child(2) .view-link {
  background-image: url("/img/tile-view-icon.svg");
}

.view-list .view-item:nth-child(3) .view-link {
  background-image: url("/img/list-view-icon.svg");
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-card {
  box-sizing: border-box;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotel-card-image-link {
  display: block;
  margin-bottom: 16px;
  width: 300px;
}

.hotel-card-image {
  display: block;
  object-fit: contain;
}

.hotel-card-title-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-container:not(:last-child) {
  margin-bottom: 16px;
}

.card-container p {
  margin: 0;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.favorite-button {
  background-color: #82B3D3;
}

.hotel-card-rating {
  display: flex;
  align-items: center;
  width: 140px;
}

.rating-star {
  display: inline-block;
  margin-right: 6px;
  width: 18px;
  height: 17px;
  background-image: url("/img/star-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.rating-total {
  color: #000000;
  background: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination-container {
  margin-top: 80px;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-dots {
  background: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.favorite-button--active {
  background-color: #7DB54F;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.advantages-description {
  margin: 0;
}

.main-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.order-title {
  margin-top: 96px;
  margin-bottom: 20px;
}

.order-description {
  text-align: center;
  width: 592px;
}

.order-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  margin-bottom: 96px;
}

.newsletter {
  background-image: url("/img/index-subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6495ed;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.inner-newsletter {
  background: #ffffff none;
  color: #000000;
}

.newsletter-title {
  color: #ffffff;
  margin-top: 96px;
  margin-bottom: 20px;
}

.newsletter-description {
  width: 475px;
}

.inner-newsletter-title {
  color: #000000;
}

.newsletter-form {
  display: flex;
  width: 684px;
  margin-bottom: 104px;
}

.newsletter-input {
  border: none;
  width: 452px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  border: none;
  background: #82B3D3;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
  display: block;
  margin: 0;
  padding: 8px 50px;
  text-decoration: none;
  text-align: center;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background: #68A2CA;
}

.page-footer {
  display: flex;
  justify-content: center;
}

.footer-contacts {
  display: flex;
  width: 1060px;
}

.footer-social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-link {
  position: relative;
  display: block;
  width: 48px;
  height: 40px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  margin: 45px 0 35px
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  margin: 45px 0 35px;
  margin-left: auto;
  margin-right: auto;
}

.phone:hover,
.phone:focus,
.footer-logo-icon:hover,
.footer-logo-link:focus .footer-logo-icon {
  color: #756157;
  fill: #756157;
}

.footer-logo-link {
  width: 115px;
  height: 33px;
  margin-top: 48.5px;
}

.footer-logo-icon {
  fill: #000000;
}
