@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* .visually-hidden {
  display: none;
} */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.main-header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.inner-header {
  display: flex;
  background-color: #756157;
  color: #ffffff;
  background-image: url("../img/catalog-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-container {
  margin: 70px;
  margin-top: 35px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  font-size: 16px;
  margin: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.description {
  font-size: 22px;
  line-height: 26px;
}


.header-logo {
  display: flex;
  width: 138px;
  padding: 0;
  margin-right: auto;
}

.navigation {
  display: flex;
}

.menu-container {
  width: 339px;
}

.user-menu-container {
  display: flex;
  gap: 20px;
  width: 268px;
  margin-left: 285px;
}

.navigation-list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-link-button {
  margin-left: auto;
}

.main-hero__title {
  margin: 0;
  background-color: #ffffff;
  min-height: 282px;
}

.main-hero {
  text-align: center;
}

.main-hero-image-container {
  background-color: #6495ed;
  color: #ffffff;
  background-image: url("../img/index-hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 485px;
}

.main-hero-image {
  padding-top: 52px;
  padding-bottom: 83px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-features {
  display: flex;
}

.features-block {
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.feature-image {
  display: flex;
}

.view-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.features-item {
  display: flex;
}

.features-item:first-child,
.features-item:last-child {
  color: #ffffff;
  background-color: #82b3d3;
}

.features-item:nth-child(2),
.features-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.feature-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.catalog {
  background-color: #ffffff;
}

.catalog-filter {
  display: flex;
  width: 1060px;
}

.catalog-filter-left {
  display: flex;
  width: 371px;
  margin-right: auto;
}

.catalog-filter-right {
  display: flex;
  width: 549px;
  margin-left: auto;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  display: flex;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-card {
  box-sizing: border-box;
  width: 340px;
  text-align: center;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-title-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.favorite-button {
  background-color: #82B3D3;
}

.rating-total {
  background: #F2F2F2;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
}

.favorite-button--active {
  background-color: #7DB54F;
}

.advantages-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2) {
  background-color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-order {
  background-color: #ffffff;
  text-align: center;
  min-height: 406px;
}

.newsletter {
  background-image: url("../img/index-subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6495ed;
  color: #ffffff;
  text-align: center;
}

.inner-newsletter {
  background: #ffffff none;
  color: #000000;
}

.newsletter-title {
  color: #ffffff;
  padding-top: 96px;
}

.inner-newsletter-title {
  color: #000000;
}

.newsletter-form {
  padding-bottom: 104px;
}

.newsletter-button {
  border: none;
}

.page-footer {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
}

.footer-contacts {
  display: flex;
  width: 1060px;
}

.footer-social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
}

.footer-logo-link {
  margin-left: auto;
}
